<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vincent Li</title>

    <link rel="shortcut icon" type="image/png" href="./assets/logos/favicon.ico"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" />

    <!-- Google Font: Source Code Pro -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&family=Architects+Daughter&display=swap" rel="stylesheet">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="./styles/style.css" />

    <!-- Vue and the vuetyper -->
    <!-- dev <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue-typer/dist/vue-typer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- Scripts -->
    <script type="module" src="./scripts/typewriter.js"></script>
    <script type="module" src="./scripts/projects.js"></script>
    <script src="./scripts/navbar.js"></script>
  </head>

  <body>
    <nav class="navbar is-fixed-top p-4 is-black">
      <div class="navbar-brand">
        <div class="navbar-item">
          <a href="#home-section" class="is-size-3 has-text-weight-semibold">
            <figure class="image">
              <img src="./assets/logos/logo.png" alt="Vincent Li" style="width: 34px; height: 28px;">
            </figure>  
          </a>
        </div>
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu pr-5" id="navMenu">
        <div class="navbar-end">
          <div class="navbar-item">
            <a href="#about-section">About</a>
          </div>
          <div class="navbar-item">
            <a href="#skills-section">Projects/Skills</a>
          </div>
          <div class="navbar-item">
            <a href="#links-section">Links</a>
          </div>
        </div>
      </div>
    </nav>

    <section class="hero is-medium is-black">
      <a id="home-section" class="navigate-to"></a>
        <div id="codediv" class="hero-body">
          <typewriterblock></typewriterblock>
        </div>    
    </section>

    <section class="hero is-medium is-black py-5">
      <a id="about-section" class="navigate-to"></a>
      <div class="hero-body">
        <div class="container px-5">
          <div class="columns is-vcentered">
            <div class="column mr-6">
              <div>
                  <h1 class="is-size-1 mb-3 lightblue change-title-mobile">ABOUT ME</h1>
              </div>
              <h1 class="is-size-4 is-size-6-mobile aboutme-mobile">
                Hi! I'm <span style="color: #668de8;">Vincent Li</span>, a 2nd year co-op student at the University of Toronto specializing in software engineering. 
                I'm currently working as a co-op software developer at SCI in Toronto.
                I like doing hackathons with my friends, learning about new technology, watching anime, and of course playing video games!
              </h1>
            </div>
            <div class="column">
                <div>
                  <figure class="image is-square">
                    <img class="is-rounded" src="./assets/avatars/avatar.png" alt="Taking a good Photo of Myself..."/>
                  </figure>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section is-medium has-background-white">
      <a id="skills-section" class="navigate-to-projects"></a>
      <div id="projects-cards" class="container px-5">
        <div class="columns is-multiline">
          <div class="column">
            <a href="./cards/ecoblock.html">
              <h1 class="is-size-1 lightblue has-text-centered change-title-mobile">PROJECTS</h1>
            </a>
            <h1 class="is-size-1 mb-3 lightblue has-text-centered change-title-mobile"><hr></h1>
            <h1 class="is-size-1 mb-3 lightblue has-text-centered change-title-mobile">SKILLS</h1>

            <div class="card mx-2 mb-4 has-background-black">  
                <div class="content py-4 px-4">
                  <div class="tags">
                    <hskill-tag v-for="item in hskills" :skill="item"></hskill-tag>
                    <sskill-tag v-for="item in sskills" :skill="item"></sskill-tag>
                  </div>
                </div>
            </div>
            <h1 id="moreinfo" class="has-text-centered">Click the images for more info!</h1>

            <div id="sitecard"></div>

            <project-card title="This Website"
                          hackathon="Personal Project"
                          img-href="https://github.com/Cptmoomoo/personal-website"
                          img-src="./assets/personal_website/sitephoto.jpg"
                          img-alt="EcoBlock"
                          :skills="['Vue', 'Javascript', 'HTML/CSS']"
                          desc="First time making a website, first time using Vue... I think it turned out pretty well."
                          github="https://github.com/Cptmoomoo/personal-website">
            </project-card>
          </div>

          <div class="column">
            <project-card title="EcoBlock"
                          hackathon="Hoo Hacks 2021"
                          img-href="./cards/ecoblock.html"
                          img-src="./assets/ecoblock/ecoblock.gif"
                          img-alt="EcoBlock"
                          winning-prize="Best Use of Google Cloud"
                          :skills="['Node.js', 'TypeScript', 'Blockchain', 'Python', 'Firebase']"
                          desc="An eco-friendly, power-saving cryptocurrency that rewards mining with green energy"
                          devpost="https://devpost.com/software/ecoblock"
                          github="https://github.com/Johnson-Su/EcoBlock">
            </project-card>
            <project-card title="JourneyGuide"
                          hackathon="OpenHacks 2020"
                          img-href="https://devpost.com/software/journeyguide-3rg7d0"
                          img-src="./assets/journeyguide/journeyguide.png"
                          img-alt="JourneyGuide"
                          :skills="['Javascript', 'Google Cloud API', 'HTML/CSS']"
                          desc="A google maps API powered outdoor activity route finder"
                          devpost="https://devpost.com/software/journeyguide-3rg7d0">
            </project-card>
          </div>

          <div class="column">
            <project-card title="Vaccurate"
                          hackathon="nwHacks 2021"
                          img-href="./cards/vaccurate.html"
                          img-src="./assets/vaccurate/vaccurate.gif"
                          img-alt="Vaccurate"
                          winning-prize="Honourable Mention"
                          :skills="['HTML/CSS', 'Javascript', 'Java', 'Firebase', 'Heroku']"
                          desc="An automated way to co-ordinate and distribute vaccines during times of limited vaccine supply"
                          devpost="https://devpost.com/software/vaccurate"
                          github="https://github.com/BenjaminSao/Vaccurate">
            </project-card>
            <project-card title="AnimeTaro"
                          hackathon="Hack the Northeast 2020"
                          img-href="https://devpost.com/software/animetaro-6tuw1j"
                          img-src="./assets/animetaro/animetaro.png"
                          img-alt="AnimeTaro"
                          :skills="['Firebase', 'Javascript', 'Chrome Extentions', 'HTML/CSS']"
                          desc="A chrome extention that helps easily find a place online to watch a particular anime"
                          devpost="https://devpost.com/software/animetaro-6tuw1j"
                          github="https://github.com/Cptmoomoo/AnimeTaro">
            </project-card>
          </div>

          <div class="column">
            <project-card title="Certi-Chain"
                          hackathon="Hack Western 7 (2021)"
                          img-href="./cards/certichain.html"
                          img-src="./assets/certichain/certichain.gif"
                          img-alt="CertiChain"
                          winning-prize="Best Hardware Hack"
                          :skills="['Flask', 'Jinja', 'Blockchain', 'Python', 'HTML/CSS', 'Heroku']"
                          desc="Product authetification using NFC tags and a blockchain"
                          devpost="https://devpost.com/software/certi-chain"
                          github="https://github.com/Johnson-Su/Certi-Chain">
            </project-card>
            <project-card title="DormBuddy"
                          hackathon="Calgary Hacks 2021"
                          img-href="https://devpost.com/software/dormbuddy"
                          img-src="./assets/dormbuddy/dorm.gif"
                          img-alt="DormBuddy"
                          :skills="['Node.js', 'TypeScript', 'WebSockets', 'HTML/CSS']"
                          desc="A way to interact and build relationships between students during an era of virtual schooling"
                          devpost="https://devpost.com/software/dormbuddy"
                          github="https://github.com/BenjaminSao/DormBuddies">
            </project-card>
          </div>

        </div>
      </div>
    </section>

    <section class="section has-background-black">
      <div class="container px-5">
        <a id="links-section" class="navigate-to"></a>
        <h1 class="change-title-mobile is-size-1 mb-3 has-text-left lightblue">LINKS AND STUFF</h1>

        <div class="columns is-multiline">
          <div class="column is-half">
            <a href="mailto: vinc.li@mail.utoronto.ca">
              <div class="card has-background-black">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="./assets/logos/uoft.png" alt="email">
                      </figure>
                    </div>
                    <div class="media-content-left">
                      <p id="email" class="title is-3 has-text-white">vinc.li@mail.utoronto.ca</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="column is-half">
            <a href="https://www.linkedin.com/in/vinc-li/" target="_blank">
              <div class="card has-background-black">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="./assets/logos/linkedin.png" alt="Linked In">
                      </figure>
                    </div>
                    <div class="media-content-left">
                      <p id="link-card" class="title is-2 has-text-white">Linked In</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="column is-half">
            <a href="https://github.com/Cptmoomoo" target="_blank">
              <div class="card has-background-black">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="./assets/logos/github_logo.png" alt="Github">
                      </figure>
                    </div>
                    <div class="media-content-left">
                      <p id="link-card" class="title is-2 has-text-white">Github</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="column is-half">
            <a href="https://devpost.com/vinc-li?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav" target="_blank">
              <div class="card has-background-black">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="./assets/logos/devpost.png" alt="Devpost">
                      </figure>
                    </div>
                    <div class="media-content-left">
                      <p id="link-card" class="title is-2 has-text-white small-text-mobile">Devpost</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    
    <section class="section is-medium pt-5 pb-5 has-background-white">
        <div class="container px-5">
            <div class="columns is-centered">
                <div class="column is-5">
                  <p id="link-card" class="has-text-weight-semibold has-text-centered small-text-mobile-bottom">Vincent Li - 04/19/2021</h1>

                </div>
              </div>
        </div>
    </section>

    <!-- Benjamin Saobuppha Helped -->
  </body>
</html>
