body {
  font-family: "Source Code Pro", monospace;
}

h1 {
  letter-spacing: 1px;
}

h2 {
  letter-spacing: 1px;
}

p {
  letter-spacing: 1px;
}

/* unvisited link */
a:link {
  color: #668de8;
}

/* visited link */
a:visited {
  color: #668de8;
}

/* mouse over link */
a:hover {
  color: #668de8;
}

/* selected link */
a:active {
  color: #668de8;
}
a.navigate-to {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

.lightblue {
  color: #668de8;
}

.has-background-black {
  color: white;
}

.container-padding {
  padding-left: 8.125rem;
  padding-right: 8.125rem;
}

#navMenu {
  background-color: black;
}

@media only screen and (min-width: 801px) {
  #codediv {
    margin-top: -50px;
  }

}

@media only screen and (max-width: 600px) {
  #aboutcode .custom.char.typed {
    color: white;
    font-size: 3vw;
  }
  #file-ext .custom.char.typed {
    color: white;
    font-size: 6vw;
  }
  .big-title {
    font-size: 6vw;
  }
  
}

@media screen and (max-width: 449px){
  #email {
    margin-top: 15px;
    font-size: 13px;
  }

  #link-card {
    margin-top: 13px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
  #email {
    margin-top: 13px;
    font-size: 18px;
  }

  #link-card {
    margin-top: 8px;
    font-size: 30px;
  }
}

@media only screen and (min-width: 601px) {
  #aboutcode .custom.char.typed {
    color: white;
    font-size: 1.5vw;
  }
  #file-ext .custom.char.typed {
    color: white;
    font-size: 3vw;
  }
  .big-title {
    font-size: 3vw;
  }
  #email {
    margin-top: 5px;
  }

  /* #link-card {
    margin-top: 1px;
  } */
}

.vue-typer .custom.caret.typing {
  background-color: white;
}

div.typewriter {
  height: 450px;
}
