html {
  scroll-behavior: smooth;
  background-color: hsl(0, 0%, 4%);
}

body {
  font-family: "Source Code Pro", monospace;
}

h1 {
  letter-spacing: 1px;
}

h2 {
  letter-spacing: 1px;
}

p {
  letter-spacing: 1px;
}

hr {
  background-color: black;
}

/* unvisited link */
a:link {
  color: #668de8;
}

/* visited link */
a:visited {
  color: #668de8;
}

/* mouse over link */
a:hover {
  color: #668de8;
}

/* selected link */
a:active {
  color: #668de8;
}
a.navigate-to {
  display: block;
  position: relative;
  top: -180px;
  visibility: hidden;
}

a.navigate-to-projects {
  display: block;
  position: relative;
  top: -200px;
  visibility: hidden;
}

div.typewriter {
  height: 450px;
  overflow-anchor: none;
}

.lightblue {
  color: #668de8;
}

.darkblue {
  color: #10368f;
}

.has-background-black {
  color: white;
}

.container-padding {
  padding-left: 8.125rem;
  padding-right: 8.125rem;
}

.button-seperator {
  color: grey;
}

.is-blue {
  background-color: #668de8;
  color: white !important;
}
.is-darkblue {
  background-color: #10368f;
  color: white !important;
}

.vue-typer .custom.caret.typing {
  background-color: white;
}

#navMenu {
  background-color: hsl(0, 0%, 4%);
}

#moreinfo {
  font-family: 'Architects Daughter', cursive;
}
/*Responsiveness*/
@media screen and (max-width: 449px){
  #email {
    margin-top: 15px;
    font-size: 13px;
  }

  #link-card {
    margin-top: 13px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
  #email {
    margin-top: 13px;
    font-size: 16px;
  }

  #link-card {
    margin-top: 8px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 600px) {
  #aboutcode .custom.char.typed {
    color: white;
    font-size: 3vw;
  }
  #file-ext .custom.char.typed {
    color: white;
    font-size: 6vw;
  }
  #code-buttons {
    margin-left: 25%;
  }
  .change-title-mobile {
    font-size: 7vw !important;
  }
  .big-title {
    font-size: 6vw;
  }
}

@media only screen and (max-width: 649px) {
  #pybutton {
    margin-top: 8px;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1251px) {
  #pybutton {
    margin-top: 8px;
  }
}

@media only screen and (max-width: 504px) {
  #jsbutton {
    margin-top: 8px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 960px) {
  #jsbutton {
    margin-top: 8px;
  }
}

@media only screen and (max-width: 330px) {
  #csbutton {
    margin-top: 8px;
  }
}

@media only screen and (max-width: 400px) {
  .small-text-mobile {
    font-size: 14px;
  }
  .small-text-tags {
    font-size: 10px !important;
  }
  .small-text-mobile-bottom {
    font-size: 14px !important;
  }
  .card-title-small {
    font-size: 18px !important;
  }
  .card-subtitle-small {
    font-size: 14px !important;
  }
  .aboutme-mobile {
    font-size: 12px !important;
  }
}

@media only screen and (min-width: 601px) {
  #aboutcode .custom.char.typed {
    color: white;
    font-size: 1.5vw;
  }
  #file-ext .custom.char.typed {
    color: white;
    font-size: 3vw;
  }
  .big-title {
    font-size: 3vw;
  }
  #email {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 800px) {
  .buttons-div {
    margin: auto;
    width: 50%;
  }
}


@media only screen and (min-width: 801px) {
  #codediv {
    margin-top: -50px;
   }
   .buttons-div {
    margin-left: 75%;
  }
}

@media only screen and (max-width: 767px) {
  #sitecard {
    padding-top: 0px;
  }
}


@media only screen and (min-width: 768px) {
  #sitecard {
    padding-top: 300px;
  }
}

.custom-work-card-container
{
  color: black;

  overflow: hidden;
  border-radius: 10px;
}

.custom-work-card-container .custom-work-card-start
{
  background-color: white;
  padding: 3rem 3rem;
}

.custom-work-card-end > figure
{
  height: 100%;
  width: 20rem;
}

.custom-work-card-end2 > figure
{
  height: 100%;
  width: 20rem;
}

.custom-work-card-end > figure > img
{
  height: 100%;
  object-fit: cover;
}

.custom-work-card-end2 > figure > img
{
  object-fit: cover;
}

.taq-logo
{
  height: 75%;
  padding-top: 4rem;
}